.background{
    background-color: rebeccapurple;
}
.allli{
    color: lightpink;
    font-weight: bolder;

}
.sekcja{
    height: 300px;
    background-repeat: initial;
    background-image: url(obrazek4.png);
    text-align: center;
    color: lavender;
}
#about-us{
    text-align: center;
}
